{% extends 'base.html.twig' %}

{% block title %}Page parser{% endblock %}

{% block body %}
<div class="example-wrapper">
    {{ form_start(form) }}
    <form action="{{ app.request.uri }}" method="get">
        {{ form_errors(form) }}
        {{ form_label(form.linkUrl, null, {'label': 'Введите URL'}) }}
        {{ form_widget(form.linkUrl) }}
        {{ form_widget(form.save) }}
        {{ form_rest(form) }}
    </form>
    {{ form_end(form) }}
</div>
{% endblock %}
